@import "../../common.scss";

.container {
  @include container;
}

.wrapper {
  width: 100%;
  height: 100%;

  h1 {
    font-size: 60px;
    padding-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.box {
}
