@import "../../common.scss";

.list {
  @include list;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 500px;

  padding: 5rem 0;

  background-color: white;
}

.text_area {
  width: auto;
  height: 100%;

  border-top: 1px solid black;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
