@use "../themes.scss" as *;

.header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-background-1);
  color: var(--color-text);
  position: fixed;
  top: 0;

  padding: 0.5rem 0.5rem;

  border-bottom: 1px solid opacity($color: #1f1f1f);
  box-shadow: 0 0 3px 0 var(--color-background-3);

  z-index: 9999;

  .nav {
    width: 98%;
    height: 3.5rem;
    color: var(--color-text);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.left_side {
  display: flex;
  justify-content: center;
  align-items: center;

  .hamburger {
    padding: 0 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .home_button {
    font-size: 1.5rem;
    margin: 0 0.5rem;

    a {
      color: var(--color-text);
    }
  }

  .link {
    a {
      font-size: 1rem;
      padding: 0 1rem;
      color: var(--color-text);
    }
  }
}

.right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}
