.list {
  width: 20rem;
  height: 27rem;
  margin: 1.5rem;

  background-color: gray;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 1px solid gray;
  border-radius: 5%;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  background-color: white;

  .image {
    width: auto;
    max-width: 15rem;
    height: auto;
    max-height: 15rem;

    cursor: pointer;
  }

  .image:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
  }

  padding: auto 0;
}

.text_area {
  width: auto;
  height: 100%;

  border-top: 1px solid black;

  border-bottom-left-radius: 10%;
  p {
  }
}
