.button {
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: x-large;

  cursor: pointer;

  margin: auto 10px;

  transition: 1s;
}
