.container {
  .wrapper {
    width: 250px;
    height: 100%;

    background-color: #f1f1f1;

    position: fixed;
    inset: 0;
    z-index: 10;

    transform: translateX(0.1);
    transition: transform 0.5s ease-in-out;
  }

  .close {
    display: flex;
    justify-content: right;

    margin: 1rem;
  }

  .link {
    margin: 1rem;

    display: flex;
    flex-direction: column;

    font-size: x-large;
    font-weight: 400;
  }
}
