.wrapper {
  width: 100%;
  height: 100%;

  .image {
    width: 100%;
    height: auto;
  }

  .content {
    z-index: 1000;

    position: absolute;
    top: 45%;
    left: 10%;
  }
}

.title_wrapper {
  padding: 10px 0;
  .title {
    color: #f1f1f1;
  }
}

.text_wrapper {
  .text {
    color: #f1f1f1;
  }
}

.button_wrapper {
  padding: 10px 0;
  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: bisque;

    color: #f1f1f1;
  }
}
