.wrapper {
  width: 100%;
  height: 100%;

  .image {
    width: 100%;
    height: auto;
  }

  .content {
    z-index: 1000;

    position: absolute;
    top: 50%;
    left: 10%;
  }
}

.button_wrapper {
  .button {
    display: flex;
    justify-content: center;
  }
}
