// background light
$bg-light-color-1: #f1f1f1;
$bg-light-color-2: #ffffff;
//background dark
$bg-dark-color-1: #313131;
$bg-dark-color-2: #121212;

// text color
$text-color-1: #313131;
$text-color-2: #f1f1f1;

// umm..
