// background light
$bg-light-color-1: #f1f1f1;
$bg-light-color-2: #ffffff;

//background dark
$bg-dark-color-1: #313131;
$bg-dark-color-2: #121212;
$bg-dark-color-3: #1b1919;

// text color
$text-color-1: #313131;
$text-color-2: #f1f1f1;
$text-color-3: #5b5b5b;
$text-color-4: #d3d3d3;

// border color
$border-light-color-1: #111111;
$border-dark-color: #f5f5f5;

// card color
$card-color-1: #222222;
